extends ../layout
include ../mixins/_bilingualText
block content
    -//pre=h.dump(locals.validationErrors)
    .page-header
        h1 #{label('page.event.new.heading.main')} 
    .main-card
        form(action=url(`/events-add/`) method="POST" class="")
            
            .form-section    
                +bilingualText(label('page.event.edit.name'),'name',event.name,label('page.event.edit.name.hint'))                   
            .form-section    
                +bilingualText(label('page.event.edit.about'),'about',event.about,label('page.event.edit.about.hint'))

                
                

            input.btn.btn-primary(type="submit" value="Save" class="button")