/*@import 'partials/variables';
@import 'partials/layout';
@import 'partials/normalize';
@import 'partials/typography';
@import 'partials/forms';
@import 'partials/search';
@import 'partials/flashes';
@import 'partials/nav';
@import 'partials/table';
@import 'partials/store';
@import 'partials/tag';
@import 'partials/single';
@import 'partials/heart';
@import 'partials/reviews';
@import 'partials/reviewer';
@import 'partials/pagination';
@import 'partials/map';
@import 'partials/helpers';*/
@import 'partials2/variables';
@import 'partials2/layout';
@import 'partials2/places';
@import 'partials2/placeForm';
@import 'partials2/map';
@import 'partials2/flashes';
@import 'partials2/pagination';
@import 'partials2/forms';

/* stuff to be moved ...
*/
//restrict the width of the region drop down on the places page
div.filter > a
{
    text-transform: lowercase;
}

div.filter
{
    border-bottom: dashed silver 1px;
    padding-bottom: 4px;
}

//hide the dev details on the friendly add place page
.step.dev
{
    display:none;
}