extends layout

include mixins/_login
include mixins/_forgot

block content
    .login
        .page-header
            h1 #{label('page.login.heading.main')}
        +login()
        div.centre.nocard
            p #{label('page.login.noaccount.message')}
            a(href=url("register")) #{label('page.login.noaccount.link')}
        
        
        +forgotForm()
        