extends layout

include mixins/_login
include mixins/_forgot

block content
    .login
        .page-header
            h1 Login
        +login()
        div.centre
            p Don't have an account?
            a(href=url("register")) Create one here
        
        
        +forgotForm()
        