extends layout

block content
    .inner
        pre=h.dump(data)
        if logs && logs.length>0
            .card
                each s in logs
                    p #{s}

        form(action=`/admin/manage` method="POST")
            p
                input(type="submit" value="exportData" class="button")