extends layout

block content
    .inner 
        h2 #{label('page.map.title')}
        .map
            .autocomplete
                input.autocomplete__input(type="text" placeholder=`${label('page.map.where')}` name="geolocate")
            #map
                p #{label('page.map.loading')}