extends layout

include mixins/_errorFormElement
include mixins/_form-input
block content
    -//pre=h.dump(errors)
    .page-header
        h1 #{label('page.register.title')}
        if(errors)
            div.alert.alert-danger #{label('page.register.messages.registerfailed')}

    .main-card        
        form(action=url('register') method="POST")
            h2=title
            +inputText('page.register', 'name', 'text', registration, errors)
            +inputText('page.register', 'email', 'email', registration, errors)
            +inputText('page.register', 'password', 'password', registration, errors)
            +inputText('page.register', 'passwordconfirm', 'password', registration, errors)
            +inputText('page.register', 'secret', 'password', registration, errors)
            
            input.btn.btn-primary(type="submit" value="Register")