extends layout

//-include mixins/_login

block content
    pre=h.dump(errors)
    .page-header
        h1 Register
    .main-card        
        form(action="/register" method="POST")
            h2=title
            .form-group   
                label(for="name") Name
                input.form-control(type="text" name="name")
            .form-group   
                label(for="email") Email
                input.form-control(type="email" name="email")
            .form-group   
                label(for="password") Password
                input.form-control(type="password" name="password")
            .form-group   
                label(for="confirm-password") Confirm password
                input.form-control(type="password" name="password-confirm")
            .form-group   
                label(for="secret") Secret...
                input.form-control(type="password" name="secret")
            
            input.btn.btn-primary(type="submit" value="Register")