mixin forgotForm()
    .mute-card
        p.centre #{label('page.login.forgot.heading')}
        form(action=url("/account/forgot") method="POST")            
            .form-group
                label(for="email") #{label('page.login.forgot.form.email')}
                input.form-control(type="email" name="email")
            input.btn.btn-secondary(type="submit" value=label('page.login.forgot.submit'))
        
