mixin forgotForm()
    .mute-card
        p.centre Forgotten your password?
        form(action="/account/forgot" method="POST")            
            .form-group
                label(for="email") Email
                input.form-control(type="email" name="email")
            input.btn.btn-secondary(type="submit" value="Send a reset")
        
