mixin regionSelect(place ={})    
        
    - const regions = ["","south-east","cardiff","south-west","mid", "north-west","north-east"]
    .input-field
        label(for="region") Region
        span  
        a(href="/help/region" target="_blank") [help]    
        select(name="region" value=place.region required)
            each region in regions
                option(value=region selected=region===place.region) #{region}
                