mixin regionSelect(place ={})                
    .input-field
        label(for="region") Region
        span  
        a(href="/help/region" target="_blank") [help]    
        select(id="region" name="region" value=place.region required)
            option(value=)
            each region in regions
                option(value=region.id selected=region.id===place.region) #{h.localise(region.name)}
                